<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
     <add name="ConnectionString" connectionString="Data Source=YULB-PC\SQLEXPRESS;Initial Catalog=cnblogsDB;UID=sa;pwd=12345678;Pooling=True;Max Pool Size=100;Min Pool Size=5;Connection Lifetime=0" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
